/*Bagian Reset*/
* {
  box-sizing: border-box;
}

/*Tampilan Dasar Halaman*/
body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

/*Container*/
.container {
  width: 750px;
  margin: 60px auto;
  background: #ffffff;
  padding: 20px 22px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/*Judul*/
h2, h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/*Form*/
form {
  margin-bottom: 30px;
}

input, textarea, button {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

textarea {
  resize: vertical;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #4338ca;
}

/*List Tugas*/
ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.4;
  border-bottom: 3px solid #eee;
}

li strong {
  font-size: 18px;
}

li small {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}

/*Fitur*/
a {
  text-decoration: none;
  color: #2563eb;
  margin-left: 10px 0;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

/*Logout*/
.link-bottom {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

/*Jarak List Tugas dan Fitur*/
.action-buttons {
  margin-top: 10px;
}

.deadline-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.deadline-group label {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.deadline-group input[type="date"] {
  flex: 1;
}
